<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%-include("header")%>

<body>
  <div class="container">
    <div class="main-section" id="main-section">

      <!-- side-bar -->
      <%-include("sideBar")%>

     <!-- contentBanner -->
     <%-include("contentBanner")%>
      

    </div>

  </div>

  <!--add-form -->
  <%-include("addEmployee")%>

  <!-- edit-employee -->
  <%-include("editEmployee")%>
 
  <!-- delete-sec -->
  <%-include("deleteSection")%>

  <!-- employee-added-successfully -->
  <%-include("employeeAddedModal")%>

  <!-- edit-employee-successfully -->
  <%-include("editEmployeeModal")%>

  <!-- deleted-employee -->
  <%-include("deleteEmployeeModal")%>

<!-- overLay -->
<%-include("overLay")%>
  
  
  <script src="Assets/Javascript/js.js"></script>
</body>
</html>